bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
NB.Core/obj/Debug/net5.0/NB.Core.assets.cache
NB.Core/obj/Debug/net5.0/NB.Core.GeneratedMSBuildEditorConfig.editorconfig
NB.Core/obj/project.packagespec.json
NB.CoreDomainTest/obj/Debug/net5.0/NB.CoreDomainTest.assets.cache
NB.CoreDomainTest/obj/Debug/net5.0/NB.CoreDomainTest.GeneratedMSBuildEditorConfig.editorconfig
NB.CoreDomainTest/obj/project.packagespec.json
NB.Domain/obj/Debug/net5.0/NB.Domain.assets.cache
NB.Domain/obj/Debug/net5.0/NB.Domain.GeneratedMSBuildEditorConfig.editorconfig
NB.Domain/obj/project.packagespec.json
NB.EFCore/obj/Debug/net5.0/NB.EFCore.assets.cache
NB.EFCore/obj/Debug/net5.0/NB.EFCore.GeneratedMSBuildEditorConfig.editorconfig
NB.EFCore/obj/project.packagespec.json
NB.WebAPI/obj/Debug/net5.0/NB.WebAPI.assets.cache
NB.WebAPI/obj/Debug/net5.0/NB.WebAPI.csproj.AssemblyReference.cache
NB.WebAPI/obj/Debug/net5.0/NB.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
NB.WebAPI/obj/project.packagespec.json
NB.WebAPI/obj/rider.project.restore.info
NB.WebAPI/obj/project.packagespec.json
NB.WebAPI/obj/project.nuget.cache
NB.WebAPI/obj/project.assets.json
NB.WebAPI/obj/NB.WebAPI.csproj.nuget.g.props
NB.WebAPI/obj/NB.WebAPI.csproj.nuget.dgspec.json
NB.WebAPI/obj/Debug/net5.0/NB.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
NB.WebAPI/obj/Debug/net5.0/NB.WebAPI.csproj.AssemblyReference.cache
NB.WebAPI/obj/Debug/net5.0/NB.WebAPI.assets.cache
NB.EFCore/obj/rider.project.restore.info
NB.EFCore/obj/project.packagespec.json
NB.EFCore/obj/project.nuget.cache
NB.EFCore/obj/project.assets.json
NB.EFCore/obj/NB.EFCore.csproj.nuget.g.props
NB.EFCore/obj/NB.EFCore.csproj.nuget.dgspec.json
NB.EFCore/obj/Debug/net5.0/NB.EFCore.GeneratedMSBuildEditorConfig.editorconfig
NB.EFCore/obj/Debug/net5.0/NB.EFCore.csproj.AssemblyReference.cache
NB.EFCore/obj/Debug/net5.0/NB.EFCore.assets.cache
NB.Domain/obj/rider.project.restore.info
NB.Domain/obj/project.packagespec.json
NB.Domain/obj/project.nuget.cache
NB.Domain/obj/project.assets.json
NB.Domain/obj/NB.Domain.csproj.nuget.g.props
NB.Domain/obj/NB.Domain.csproj.nuget.dgspec.json
NB.Domain/obj/Debug/net5.0/NB.Domain.GeneratedMSBuildEditorConfig.editorconfig
NB.Domain/obj/Debug/net5.0/NB.Domain.assets.cache
NB.CoreDomainTest/obj/rider.project.restore.info
NB.CoreDomainTest/obj/project.packagespec.json
NB.CoreDomainTest/obj/project.nuget.cache
NB.CoreDomainTest/obj/project.assets.json
NB.CoreDomainTest/obj/NB.CoreDomainTest.csproj.nuget.g.props
NB.CoreDomainTest/obj/NB.CoreDomainTest.csproj.nuget.dgspec.json
NB.CoreDomainTest/obj/Debug/net5.0/NB.CoreDomainTest.GeneratedMSBuildEditorConfig.editorconfig
NB.CoreDomainTest/obj/Debug/net5.0/NB.CoreDomainTest.assets.cache
NB.Core/obj/rider.project.restore.info
NB.Core/obj/project.packagespec.json
NB.Core/obj/project.nuget.cache
NB.Core/obj/project.assets.json
NB.Core/obj/NB.Core.csproj.nuget.g.props
NB.Core/obj/NB.Core.csproj.nuget.dgspec.json
NB.Core/obj/Debug/net5.0/NB.Core.GeneratedMSBuildEditorConfig.editorconfig
NB.Core/obj/Debug/net5.0/NB.Core.assets.cache
NB.WebAPI/appDb.db
